Adafruit-Blinka==8.19.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-requests==1.14.1
adafruit-circuitpython-typing==1.9.4
adafruit-circuitpython-vl53l0x==3.6.9
Adafruit-PlatformDetect==3.46.0
Adafruit-PureIO==1.1.11
arandr==0.1.10
astroid==2.5.1
asttokens==2.0.4
automationhat==0.2.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.9.3
blinker==1.4
blinkt==0.1.2
buttonshim==0.0.2
Cap1xxx==0.1.3
certifi==2019.6.16
chardet==3.0.4
charset-normalizer==3.1.0
cheroot==6.5.6
CherryPy==18.1.2
click==7.1.2
cmake==3.26.1
colorama==0.4.4
coloredlogs==10.0
colorzero==1.1
cryptography==3.3.2
cupshelpers==1.0
dbus-python==1.2.16
distro==1.5.0
docutils==0.16
drumhat==0.1.0
envirophat==1.0.0
ExplorerHAT==0.4.2
face-recognition-models==0.3.0
filelock==3.12.0
Flask==1.1.2
fourletterphat==0.1.0
gdown==4.7.1
gpiozero==1.6.2
gTTS==2.3.1
h5py==2.10.0
html5lib==1.1
humanfriendly==4.18
idna==2.8
imutils==0.5.4
isort==5.6.4
itsdangerous==1.1.0
jaraco.context==4.3.0
jaraco.functools==2.0
jedi==0.18.0
Jinja2==2.11.3
keras==2.12.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lazy-object-proxy==0.0.0
logilab-common==1.8.1
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
microdotphat==0.2.1
more-itertools==7.2.0
mote==0.0.4
motephat==0.0.3
MouseInfo==0.1.3
mypy==0.812
mypy-extensions==0.4.3
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.8.0.74
packaging==23.1
pantilthat==0.0.7
parso==0.8.1
pexpect==4.8.0
pgzero==1.2
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
picamera2==0.3.9
pidng==4.0.9
piexif==1.1.3
piglow==1.2.5
pigpio==1.78
Pillow==8.1.2
playsound==1.3.0
pocketsphinx==0.1.15
portend==2.5
psutil==5.8.0
PyAudio==0.2.11
PyAutoGUI==0.9.53
pybind11==2.10.4
pycairo==1.16.2
pycups==2.0.1
pyftdi==0.54.0
pygame==1.9.6
PyGetWindow==0.0.9
Pygments==2.7.1
PyGObject==3.38.0
pyinotify==0.9.6
pyjokes==0.6.0
PyJWT==2.6.0
pylint==2.7.2
PyMsgBox==1.0.9
PyOpenGL==3.1.5
pyOpenSSL==20.0.1
pyperclip==1.8.2
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyRect==0.2.0
PyScreeze==0.1.28
pyserial==3.5b0
pysmbc==1.0.23
PySocks==1.7.1
pytesseract==0.3.10
python-apt==2.2.1
python-espeak==0.5
python-prctl==1.7
python-vlc==3.0.7110
python3-xlib==0.15
pyttsx3==2.90
pytweening==1.0.4
pytz==2019.2
pyusb==1.2.1
pywhatkit==5.4
PyYAML==5.1.2
rainbowhat==0.1.0
reportlab==3.5.59
requests==2.28.2
requests-oauthlib==1.0.0
responses==0.12.1
roman==2.0.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.0
RTIMULib==7.2.1
scrollphat==0.0.7
scrollphathd==1.2.1
Send2Trash==1.6.0b1
sense-hat==2.4.0
simplejpeg==1.6.4
simplejson==3.17.2
six==1.12.0
skywriter==0.0.7
sn3218==1.2.7
soupsieve==2.2.1
SpeechRecognition==3.10.0
spidev==3.5
ssh-import-id==5.10
sysv-ipc==1.1.0
tempora==1.14.1
thonny==4.0.1
toml==0.10.1
touchphat==0.0.1
tqdm==4.65.0
twilio==7.17.0
twython==3.8.2
typed-ast==1.4.2
typing-extensions==4.7.0
unicornhathd==0.0.4
urllib3==1.25.3
v4l2-python3==0.3.2
webencodings==0.5.1
webrtcvad==2.0.10
Werkzeug==1.0.1
wikipedia==1.4.0
wolframalpha==5.0.0
wrapt==1.12.1
xmltodict==0.13.0
zc.lockfile==2.0
